/* 외부로그인 CSS */
.loginTitle { background-color:#F0F0F0; border-bottom:#ddd 1px solid; padding:7px 0px 7px 15px; font: 0.90em verdana, AppleGothic, sans-serif; font-weight:bold; }
.loginSpace { padding-top:10px; }
.loginLeft { padding-left:10px; font: 0.75em verdana, AppleGothic, sans-serif; width:40px; float:left; padding-top:3px; }
.loginRight { width:80px; float:left; }
.loginClear { clear:both; }
.loginInput { border:#ddd 1px solid; background-color:#F7F7F7; color:#3e3e3e; font: 0.75em verdana, AppleGothic, sans-serif; width:70px; }
.loginSubmit { background-color:#636363; color:#fff; font-weight:bold; border-width:0px; font: 1.00em 굴림; padding-top:3px; }
.loginAlign { text-align:right; padding:5px 10px 5px 0px; }
.loggedTag { text-align:center; font: 0.75em verdana, AppleGothic, sans-serif; }