/* 최근게시물 CSS */
.latestSubject { padding: 5px; border-bottom: #eee 1px solid; }
.latestSubject:hover { background-color: #f7f7f7; }
.latestTitle { 
	background: url(bg.gif) repeat-x bottom;
	padding: 5px; 
	border-bottom: #ddd 3px double;
	text-align: center;
}
.latestTitle a { text-decoration: none; color: #666; font-weight: bold; }
.latestTitle a:hover { text-decoration: none; color: #000; font-weight: bold; }
.latestSubject a { font: 12px verdana, 굴림, AppleGothic, sans-serif; text-decoration: none; color: #555; }
.latestSubject a:hover { color: #348A0F; }
.latestCategory { color: #828282; }
.latestCommentNum { padding-top: 2px; font: 9px verdana, sans-serif; color: #999; }
.latestDate { font: 10px verdana, sans-serif; color: #999; }
.latestContent { padding: 5px; color: #888; }
.latestClear { clear: both; }