/* default */
#GRBOARD { font-size: 12px; color: #555; }
#GRBOARD input { padding: 2px; font-size: 12px; color: #333; }
#GRBOARD form { margin: 0; padding: 0; }
#GRBOARD ul { padding: 10px; margin: 10px; }
#GRBOARD li { text-align: left; line-height: 190%; margin-left: 20px; color: #777; }
#GRBOARD td, th, tr { line-height: 150%; margin: 0px; }
#GRBOARD table, img { border-width: 0px; border: 0 none; }
#GRBOARD big { font-size: 25px; }
#GRBOARD a { cursor: pointer; }
#GRBOARD a:hover { text-shadow: 0 1px 0 #eee; }
#GRBOARD img { vertical-align: middle; }
#GRBOARD blockquote { background-color: #fafafa; padding: 10px; margin: 10px; border: #f0f0f0 1px dotted; }
#GRBOARD blockquote div { border: #ddd 1px solid; background: url(image/quote2.gif) no-repeat right bottom; padding: 10px 20px 10px 20px; text-align: center;}
#GRBOARD a:link, a:active, a:visited { text-decoration: none; color: #888; }
#GRBOARD a:hover { text-decoration: none; color: #555; }
#GRBOARD label { cursor: pointer; }

/* Flash 경고 */
#GRBOARD div.flahPlayer { background: #fffff2; border: 1px solid #eeeeee; padding: 20px; }
#GRBOARD div.flahPlayer p { background: url("../../image/icon/application_flash.gif") 50% 0 no-repeat; padding-top: 30px; text-align: center; }
#GRBOARD div.flahPlayer p a { color: #3179d3; }
#GRBOARD div.flahPlayer p a:hover { color: #4e91e4; }

/* GR Code */
#GRBOARD .grcodeDIV { border: #ddd 1px solid; background-color: #fafafa; padding: 5px; }

/* Top link */
#GRBOARD a.small:link, a.small:active, a.small:visited { font-size: 10px; text-decoration: none; }

/* Comment modify */
#GRBOARD a.commentBtn:link, a.commentBtn:active, a.commentBtn:visited { font-size: 10px; text-decoration: none; }
#GRBOARD a.commentBtn:hover { font-size: 11px; font-weight: bold; text-decoration: none; }

/* for Basic Gallery */
#GRBOARD a.smallTitle:link, a.smallTitle:active, a.smallTitle:visited { font-size: 8.5pt; text-decoration: none; font-family: Dotum, sans-serif; }
#GRBOARD a.smallTitle:hover { font-size: 8.5pt; text-decoration: none; font-family: Dotum, Gulim, sans-serif; }

/* Board List */
#grListTable { width: 100%; table-layout: fixed; }
#GRBOARD tr.hover { height: 34px; }
#GRBOARD .titleBar { text-align: center; height: 37px; background-color: #f6f6f6; 
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#f9f9f9), to(#f2f2f2)); repeat-x; color: #666; text-shadow: 0 1px 0 #fff; 
	border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
#GRBOARD .titleBar a { font-size: 11px; font-family: Dotum, 돋움, sans-serif; color: #999; }
#GRBOARD .titleBar select { height: 19px; font-size: 11px; font-family: Dotum, 돋움, sans-serif; }
#GRBOARD td.no { font-size: 10px; text-align: center; color: #999; border-bottom: #eee 1px solid; }
#GRBOARD td.category { text-align: center; border-bottom: #eee 1px solid; }
#GRBOARD td.category a { font-size: 11px; font-family: Dotum, 돋움, sans-serif; color: #3f6b6b; }
#GRBOARD td span.comment { font-size:10px; font-weight: bold; color: #999; }
#GRBOARD td.name { text-align: center; border-bottom: #eee 1px solid; }
#GRBOARD td.name span { color: #777; cursor: pointer; }
#GRBOARD td.list { text-align: left; border-bottom: #eee 1px solid; }
#GRBOARD td.list span { color: #777; cursor: pointer; }
#GRBOARD td.date { font-size: 11px; text-align: center; border-bottom: #eee 1px solid; color: #999; }

/* Page link */
#GRBOARD a.page { font-size: 9pt; text-decoration: none; border-left: #ddd 1px solid; padding-left: 8px;}
#GRBOARD a.page:hover { font-size: 9pt; text-decoration:none; font-weight: bold; }
#GRBOARD .paging, div.bottomPaging { padding: 15px 0 10px 0; text-align: center; }
#GRBOARD div.bottomPaging strong { border-left: #ddd 1px solid; padding-left: 8px; }

/* View */
#GRBOARD div.viewTitle { 
	position: relative; text-align: left; height: 27px; background-color: #f6f6f6; padding: 10px 0 0 10px; font-weight: bold;
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#f9f9f9), to(#f2f2f2)); repeat-x; color: #666; text-shadow: 0 1px 0 #fff; 
	border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
#GRBOARD div.viewTitle div.btn { position: absolute; top: 8px; right: 10px; width: 280px; text-align: right; margin: 0; padding: 0; }
#GRBOARD div.viewTitle div.btn input { border: #eee 1px solid; border-radius: 5px; -webkit-border-radius: 5px; margin: 0; cursor: pointer;
	-moz-border-radius: 5px; background-color: #fff; vertical-align: middle; font-size: 11px; font-family: Tahoma, sans-serif; color: #666; }
#GRBOARD div.viewTitle div.btn input:hover { border: #aaa 1px solid; font-weight: bold; }
#GRBOARD div.viewContent { padding: 10px 5px 10px 5px; text-align: left; clear: both; overflow: auto; }
#GRBOARD div.viewContent #mainContent { line-height: 160%; position: relative; }
#GRBOARD div.viewLeft { background-color: #f9f9f9; padding: 5px 0 5px 0; color: #888; font-size: 11px; width: 80px; float: left; margin-left: 5px; }
#GRBOARD div.viewRight { text-align: left; padding: 5px 0px 5px 10px; float: left; overflow: auto; }
#viewMemInfo { position: relative; bottom: 5px; right: 5px; margin-top: 50px; }
#viewFoot { color: #ddd; text-align: left; padding-top: 25px; }
#viewFoot a { font-size: 12px; color: #888; }
#myPhoto { float: left; width: 30%; text-align: left; }
#myComment { float: left; width: 68%; text-align: right; }
#readAlert { padding: 5px; background-color: #fef3f3; border-bottom: #f6dfdf 1px solid; border-right: #f6dfdf 1px solid; cursor: pointer; color: #ce2e2e; }
#bombTime { margin-top: 50px; padding: 5px; border: #f6dfdf 2px solid; cursor: help; color: #ce2e2e; }
#getPollBox { border: #ddd 2px solid; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; background-color: #fcfcfc; padding: 10px; margin-top: 10px; }
#getPollBox div.title { font-weight: bold; text-shadow: 0 1px 0 #555; padding: 5px; color: #fff; background-color: #9e9e9e; border-bottom: #ccc 2px solid; text-align: center; }
#getPollBox ol { margin: 10px; padding: 5px; }
#getPollBox li, #getPollBox input { vertical-align: middle; }
#getPollBox input.s { background-color: #7e7e7e; padding: 3px; color: #fff; border: 0 none; }
#GRBOARD div.viewTag { border: #eee 1px dotted; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; background-color: #fafafa; padding: 10px; margin: 20px 0 0 0; text-align: left; color: #999; }
#GRBOARD div.viewTag:hover { border: #ccc 1px solid; }
#GRBOARD .modifyTime { font-size: 10px; color: #ddd; }
#writeBy { font-size: 11px; font-family: Dotum, 돋움, sans-serif; color: #ccc; text-align: right; }

/* Comment view */
#layerCoWrite { width: 570px; border: #aaa 2px solid; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; padding: 5px; background-color: #fff; margin: 15px auto; }
#GRBOARD .commentRight { text-align: left; }
#GRBOARD .commentTitle { border-bottom: #eee 1px solid; text-align: left; padding: 7px; background-color: #f9f9f9; }
#GRBOARD .commentTitle .name { cursor: pointer; font-weight: bold; }
#GRBOARD .commentContent { text-align: left; padding: 5px; overflow: auto; font-size: 12px; }
#GRBOARD .secretComment { color: #999; }
#GRBOARD .comment_paging { padding-top: 15px; }

/* Write */
#inputBoxs { background-color: #f7f7f7; border-top: #eee 1px solid; border-bottom: #eee 1px solid; }
#inputBoxs ul, #inputBoxs li { list-style: none; }
#editableBox { margin-top: 10px; }
#GRBOARD div.writeRight { text-align: left; }
#GRBOARD div.writeRight ul { padding: 5px; margin: 0; }
#GRBOARD div.writeRight li { list-style: none; padding-left: 5px; color: #aaa; font-family: Dotum, 돋움, sans-serif; font-size: 11px; }
#GRBOARD div.writeRight li span { color: #666; }
#GRBOARD div.writeRight label { font-size: 11px; font-family: Dotum, 돋움, sans-serif; color: #666; }
#writePreviewBox { border: #ddd 1px solid; padding: 5px; margin: 15px; text-align: left; color: #888; font-family: Dotum, 돋움, sans-serif; font-size: 11px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
#writePreviewBox:hover { border: #aaa 1px solid; color: #555; }
#GRBOARD span.fileExist { font-size: 11px; color: #999; }
#GRBOARD div.writeTitle { border-bottom: #eee 3px solid; padding: 10px; text-align: center; font-weight: bold; text-shadow: 0 1px 0 #eee; }
#GRBOARD a.writeFileDelete:link, a.writeFileDelete:active, a.writeFileDelete:visited { font-size: 7pt; color: #999; font-family: "Trebuchet MS", sans-serif; }
#GRBOARD a.writeFileDelete:hover { font-size: 7pt; color: red; font-family: "Trebuchet MS", sans-serif; }
#setBomb { padding: 5px; }
#setBomb input { width: 30px; border: #ddd 1px solid; vertical-align: middle; }
#setBomb select { vertical-align: middle; }
#GRBOARD input.openid { background: #fff url(image/openid.gif) no-repeat left; padding-left: 20px; width: 180px; border: #ccc 1px solid; }
#GRBOARD .extendUploadBtn { padding: 15px 0 5px 0; }
#GRBOARD .extendUploadBtn img, #GRBOARD .extendUploadBtn input { cursor: pointer; vertical-align: top; }
#fileUploadField { text-align: left; }
#GRBOARD li input { vertical-align: middle; }
#searchTags { border: #eee 5px solid; margin: 5px 5px 5px 60px; padding: 5px; line-height: 160%; width: 350px; }
#searchTags ol { margin: 0; padding: 0; }
#btnCancel { border: #ddd 1px solid; font-size: 11px; font-family: Dotum, 돋움, sans-serif; background-color: #fcfcfc; color: #aaa; padding: 2px 0 0 0; }
#swfUpBtnforGRBOARD { border: #aaa 1px solid; font-size: 11px; font-family: Dotum, 돋움, sans-serif; background-color: #f7f7f7; color: #777; }
#flashHistory { height: 250px; overflow: auto; border: #eee 3px solid; }
#flashHistory .multi-preview { width: 70px; height: 52px; cursor: move; }

/* input , textarea , submit */
#GRBOARD .openID { border: #ddd 1px solid; width: 140px; background: url(image/openid.gif) no-repeat left; padding-left: 20px; }
#GRBOARD .miniInput { border: #ddd 1px solid; width: 160px; }
#GRBOARD .input { border: #ddd 1px solid; width: 80%; }
#GRBOARD .textarea { border: #ddd 1px solid; overflow: auto; width: 100%; }
#GRBOARD .submit { border-width: 0px; background-color: #000; color: #fff; text-align: center; width: 50px; height: 25px; font-size: 11px; }

/* Comment write */
#GRBOARD .commentTextarea { overflow: auto; width: 99%; border: #fff 1px solid; }
#GRBOARD .commentWriteBox { width: 100%; }
#GRBOARD .cWriteLeft { background-color: #f7f7f7; color: #666; border-bottom: #fff 1px solid; padding: 3px 10px 3px 3px; }
#GRBOARD .cWriteRight { border-bottom: #fff 1px solid; padding: 3px; text-align: left; }
#GRBOARD .commentSubmit { width: 100%; background-color: #999; border: #888 1px solid; color: #fff; text-align: center; height: 100px; }
#GRBOARD td.cWriteLeft div span, td.cWriteRight span { cursor: pointer; }
#closeWin { position: absolute; right: 5px; top: 5px; width: 18px; height: 18px; border: #ddd 2px solid; text-align: center; cursor: pointer; }
#editableCoBox { margin: 0px 3px 0px 0px; }

/* Temp add style */
#GRBOARD .smallEng { font-size: 11px; color: #999; }

/* Search */
#GRBOARD .searchBox { padding-top: 50px; text-align: center; }
#GRBOARD .searchBox select { margin-right: 5px; vertical-align: middle; padding: 5px; font-size: 12px; }
#GRBOARD .searchInput { border: #ddd 3px solid; background-color: #fff; width: 200px; vertical-align: middle; padding: 5px; }
#GRBOARD .searchInput:focus { border: #aaa 3px solid; }
#GRBOARD .findMe { background-color: yellow; color: red; }
#searchIndex { 
	margin: 50px 20px; 
	border: #ddd 1px solid;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background: -webkit-gradient(linear, 0% 40%, 0 70%, from(#fcfcfc), to(#f4f4f4));
	padding: 10px; 
	overflow: auto; 
	height: 100px;

}
#searchIndex div { padding: 5px; text-align: left; border-bottom: #ddd 1px dotted; }

/* Menu */
#GRBOARD .menuBox { padding: 30px 0 10px 0; text-align: right; color: #eee; }
#GRBOARD .menuBox a { 
	border: #ddd 1px solid;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 10px;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	background-color: #f7f7f7;
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#f9f9f9), to(#f1f1f1));
}
#GRBOARD .menuBox a:hover { border: #aaa 1px solid; }
#GRBOARD .menuBox a:active {
	border: #777 1px solid;
	background-color: #f2f2f2;
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#f1f1f1), to(#f9f9f9));
}

/* Special ID */
#copyright { text-align: right; font-size: 10px; font-family: "Trebuchet MS", sans-serif; color: #ddd; padding-top: 5px; clear: both; }
#copyright a { font-size: 10px; color: #ddd; text-decoration: none; }
#subjectBar { padding: 7px; font-size: 11px; font-family: "Trebuchet MS", sans-serif; background: url(image/top_back.gif) repeat-x; color: #777; }
#goodORbad { text-align: right; }
#goodORbad a { font-size: 10px; }
#viewMemberInfo { position: absolute; width: 100px; border: #999 2px solid; background-color: #fff; }
#viewMemberInfo div a { text-decoration: none; font-size: 11px; font-family: Dotum, 돋움, sans-serif; color: #666; }
#viewMemberInfo div { padding: 5px; border-bottom: #ddd 1px dotted; }
#viewMemberInfo div img { vertical-align: middle; }

/* hover, focus event for non-IE6 */
#GRBOARD .input:focus, 
#GRBOARD .textarea:focus, 
#GRBOARD .commentTextarea:focus, 
#GRBOARD tr.hover:hover { 
	background-color: #f7f7f7; 
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#fcfcfc), to(#f7f7f7));
}

/* etc */
#GRBOARD .clear { clear: both; }
#GRBOARD .hand { cursor: pointer; }
#GRBOARD .noneStyle ul, #GRBOARD .noneStyle li { list-style: none; }
#newMsgCheck { position: absolute; top: 0px; right: 0px; z-index: 100; text-align: center; }
#newMsgCheck a { color: #000; text-decoration: none; }
#newMsgCheck a:hover { font-weight: bold; }
#GRBOARD .roundBtn {
	border: #ccc 1px solid;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 7px;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	background-color: #f7f7f7;
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#f9f9f9), to(#f1f1f1));
	vertical-align: middle;
}
#GRBOARD .roundBtn:hover { border: #aaa 1px solid; }
#GRBOARD .roundBtn:active {
	border: #777 1px solid;
	background-color: #f2f2f2;
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#f1f1f1), to(#f9f9f9));
}

/* for lightbox plus */
#lightbox {
	background-color: #eee;
	padding: 10px;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
}
#overlay {
	background-image: url(../../image/lightbox/overlay.png);
}
#lightboxCaption {
	color: #333;
	background-color: #eee;
	font-size: 90%;
	text-align: center;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
}
#lightboxIndicator {
	border: 1px solid #fff;
}
#lightboxOverallView {
	background-image: url(../../image/lightbox/overlay.png);
}
* html #lightboxOverallView,
* html #overlay {
	background-color: #000;
	background-image: url(../../image/lightbox/blank.gif);
	filter: Alpha(opacity=50);
}

/* for swfupload progressbar style */
.progressWrapper {
	overflow: hidden;
}
.progressContainer {
	margin: 5px;
	padding: 5px;
	border: solid 1px #e8e8e8;
	background-color: #f7f7f7;
	overflow: hidden;
}
.message {
	overflow: hidden;
}
.red {
	border: solid 1px #b50000;
	background-color: #ffebeb;
}
.green {
	border: solid 1px #ddf0dd;
	background-color: #ebffeb;
}
.blue {
	border: solid 1px #cee2f2;
	background-color: #f0f5ff;
}
.progressName {
	font-size: 12px;
	font-weight: bold;
	color: #555;
	width: 390px;
	height: 25px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}
.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}
.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}
.mini { font-size: 11px; font-family: Dotum, 돋움, sans-serif; color: #999; }