@charset "utf-8";

/* Design BY_ STUDIO-D (www.studio-d.kr) */
/* Common */
h1, h2, h3, h4, h5, dl, dt, dd, ul, li, ol, th, td, p, blockquote, form, fieldset, legend, body { padding: 0; margin: 0; }
p { pading-bottom: 5px; }
div#memberJoin img { vertical-align: middle; border: 0 none; }
div#memberJoin { font-size: 12px; font-family: "돋움", dotum, sans-serif; color:#5e5e5e; }
.input { background-color: #FBFBFB; border: 1px #dcdde3 solid; padding: 3px; color: #a2a2a2; }
.input:focus { border: 1px #5da5f7 solid; color:#2e2e2e; }
.textarea { background-color: #FBFBFB; border: 1px #dcdde3 solid; padding: 3px; font-size: 12px; color: #a2a2a2; }
.textarea:focus { border: 1px #5da5f7 solid; color:#2e2e2e; }
span.mark { position: absolute; top: -3000px; left: -3000px; }

/* Member Info */
div#memberJoin { background-color: #eee; min-width: 630px; text-align: left; position: relative; }

/* Header */
div#memberJoin div.header { height: 83px; background: url("./images/background_header.jpg") repeat-x; }
div#memberJoin div.header h1 { text-indent: -100em; width: 350px; height: 83px; background: url("./images/header.jpg") no-repeat; }

/* noscript */
div#noscript { border: 3px solid #979797; padding: 10px; background-color: white; margin-bottom: 20px; }

/* Jouin Agreement */
div.agreement_contents, div.info_contents { clear: both; padding: 20px; height: 150px; background-color: white; border-top: 2px solid #979797; border-bottom: 2px solid #979797; overflow-y: auto; }
div.agreement p.join_help, div.info p.join_help { float: right; font-size: 11px; margin-top: 5px; }
div.agreement, div.info { margin-bottom: 30px; }

/* 회원약관 스타일 */
div.agreement_contents h3 { background-color: #f0f5e9; border: 1px solid #c9d5b9; padding: 10px; margin-bottom: 10px; font-size: 15px; font-weight: bold; }
div.agreement_contents h4 { font-size: 13px; font-weight: bold; }
div.agreement_contents ol, ul { margin: 10px 10px 10px 20px; padding: 0; }
div.agreement_contents li { margin-left: 20px; }
div.agreement_contents hr { border: 0 none; border-top: #d6ddcd solid 1px; }
div.agreement_contents a { color: #7ca842; }

/* Contents */
div#memberJoin div.contents { padding: 20px; }
p.notice { background: url("./images/mark.gif") no-repeat 0 2px; padding-left: 10px; float: right; } /* 필수 입력사항 안내 */
.input_table { clear: both; border: 0; border-top: 2px solid #979797; border-bottom: 2px solid #979797; width: 100%; table-layout: fixed; margin-bottom: 30px; }
.input_table tr { height: 36px; }
.input_table tr th { padding:11px 0 10px 21px; width: 136px; text-align: left; background-color: #e6e6e6; vertical-align: top; border-bottom: 1px solid #bcbcbc; border-right: 1px solid #bcbcbc; }
.input_table tr th.mark { background: #e6e6e6 url("./images/mark.gif") no-repeat 8px 13px; }
.input_table tr td { padding: 13px 0 10px 20px; text-align: left; background-color: white; border-bottom: 1px solid #bcbcbc; vertical-align: top; }
.input_table tr td p { font-size: 11px; padding: 2px 0; }
div#memberJoin p.jumin_ok { background: url("./images/mark_green.gif") no-repeat 0 2px; color: green; } /* 주민등록번호 입력 확인 */
div#memberJoin p.info { font-size: 11px; color: #536ecc; margin-top: 5px; }
div#memberJoin div.info { padding: 10px; border: 3px solid #eeeeee; margin-right: 20px; }
div#memberJoin div.info label { cursor: pointer; }
div#memberJoin div.info img.photo { width: 100px; height: 100px; }

/* 자동입력방지 코드 */
span.antiCode { font-size: 20px; color: #50618d; font-weight: bold; letter-spacing: 5px; font-family: "Malgun Gothic", 맑은고딕, san-serif; }

/* Join ask */
div.join_ask { text-indent: -100em; width: 472px; height: 69px; background: url("./images/ask.gif") no-repeat; float: left; }

/* 버튼 */
div#memberJoin ul.button { float: right; list-style: none; margin: 15px; 0 0 0; padding: 0; }
div#memberJoin ul.button li a { text-indent: -100em; width: 64px; height: 32px; }
div#memberJoin ul.button li.ok { float: right; }
a.id_check { float: left; text-indent: -100em; background: url("./images/id_check.gif") no-repeat; width: 85px; height: 28px; } /* ID 중복검사 */
a.nickname_check { float: left; text-indent: -100em; background: url("./images/nickname_check.gif") no-repeat; width: 114px; height: 28px; } /* 닉네임 중복검사 */

/* h2 꾸미기*/
div#memberJoin div.info h2 { float: left; text-indent: -100em; width: 125px; height: 26px; background: url("./images/nametac5.gif") no-repeat; } /* 안내 */
div#memberJoin div.agreement h2 { float: left; text-indent: -100em; width: 125px; height: 26px; background: url("./images/nametac1.gif") no-repeat; } /* 약관확인 */
div#memberJoin div.common h2 { float: left; text-indent: -100em; width: 125px; height: 26px; background: url("./images/nametac2.gif") no-repeat; } /* 기본정보 */
div#memberJoin div.add h2 { text-indent: -100em; width: 125px; height: 26px; background: url("./images/nametac3.gif") no-repeat; } /* 추가정보 */
div#memberJoin div.join_code h2 { text-indent: -100em; width: 125px; height: 26px; background: url("./images/nametac4.gif") no-repeat; } /* 자동등록방지 코드 */

/* copyright 삭제시 라이센스 위반입니다.
   최소한의 저작권을 보호해주세요. __)
   삭제를 원하시는 분은 라이센스료를 지불하시면 저작권 없이 사용 가능합니다. */

/* 저작권 표시 */
div.copyright { clear: both; }
div.copyright a  { 
  font-size: 12px;
  color: #444444;
  text-decoration: none;
  text-shadow: 1px 1px 0 #eeeeee;
  position: absolute;
  top: 50px;
  right: 10px;
  font-weight: bold;
  /* IE Filter */
  -ms-filter: "progid:DXImageTransform.Microsoft.DropShadow(offx=1, offy=1, color='#eeeeee', positive='true')"; /* IE8+ */
			filter: progid:DXImageTransform.Microsoft.DropShadow(offx=1, offy=1, color='#eeeeee', positive='true') /* IE and lower */
}


/* 비밀번호 강도 */
.password { 
font-size : 12px;
border : 1px solid #cc9933;
font-family : "돋움", sans-serif;
}
.pstrength-info { position: absolute; margin-left: 145px; margin-top: -17px; #margin-top: 3px; #margin-left: 10px; }
.pstrength-minchar { 
font-size : 10px;
}