/* need a geek_latest include first! */
.geekTotalSubject { font-size: 11px; font-family: Dotum, sans-serif; padding: 5px; }
.geekTotalSubject .date { color: #999; }
.geekTotalParentBox { border-radius: 10px; background-color: #f9f9f9; text-align: left; padding: 5px; overflow: hidden; }
.geekTotalParentBox a { padding: 10px; color: #6e6e6e; text-decoration: none; }
.geekTotalParentBox a:hover { color: #68d054; }