/* 외부로그인 CSS */
.loginLeft { 
	padding-left: 10px;
	width: 40px; 
	float: left; 
	padding: 3px; 
}
.loginRight { width: 80px; float: left; padding: 3px; }
.loginClear { clear:both; }
.loginInput { 
	border:#ddd 1px solid; 
	background-color:#f7f7f7; 
	color: #2a5088;
	width: 90px; 
}
.loginInput:focus { background-color:#f0f0f0; }
.loginSubmit {
	border-width:0px; 
	padding-top:3px;
}
.loginAlign { text-align: right; padding: 5px 10px 5px 0px; }
.loggedTag { 
	text-align: center;
	color: #999;
}