/* ¿ÜºÎ·Î±×ÀÎ CSS */
.loginTitle { 
	text-align:center;
	background:url(bg.gif) repeat-x bottom;
	border-bottom:#ddd 3px double; 
	padding:5px; 
	font: 12px Gulim, ±¼¸², AppleGothic, sans-serif; 
	font-weight:bold;
	color:#6624a3;
}
.loginSpace { padding-top:10px; }
.loginLeft { 
	padding-left:10px; 
	font: 10px verdana, AppleGothic, sans-serif; 
	width:40px; 
	float:left; 
	padding:3px; 
}
.loginRight { width:80px; float:left; padding:3px; }
.loginClear { clear:both; }
.loginInput { 
	border:#ddd 1px solid; 
	background-color:#f7f7f7; 
	color:#672688; font: 11px verdana, Gulim, ±¼¸², AppleGothic, sans-serif; 
	width:90px; 
}
.loginInput:focus { background-color:#f0f0f0; }
.loginSubmit { 
	background-color:#775892; 
	color:#fff; 
	font-weight:bold; 
	border-width:0px; 
	font: 12px Gulim, ±¼¸², sans-serif; 
	padding-top:3px;
}
.loginAlign { text-align:right; padding:5px 10px 5px 0px; }
.loggedTag { 
	text-align:center; 
	font: 10px verdana, Gulim, ±¼¸², AppleGothic, sans-serif;
	color:#999;
}