/* 최근게시물 CSS */
.latestSubject { padding:2px 0px 2px 10px; float:left; }
.latestTitle { padding:4px 0px 4px 15px; border-top:#eee 1px solid; border-bottom:#ddd 1px solid; background-color:#F7F7F7; }
.latestTitle a { text-decoration:none; color:#707070; font-weight:bold; }
.latestTitle a:hover { text-decoration:none; color:#000; font-weight:bold; }
.latestSubject a { font: 1.00em verdana, 굴림, AppleGothic, sans-serif; text-decoration:none; color:#505050; }
.latestCategory { color:#828282; }
.latestCommentNum { padding-top:4px; font:0.75em verdana, sans-serif; color:#505050; }
.latestDate { font:0.75em verdana, sans-serif; color:#909090; }
.latestContent { padding:5px; color:#808080; }
.latestClear { clear:both; }