/* 외부로그인 CSS */
.loginLeft { 
	padding-left: 10px;
	width: 35px; 
	float: left; 
	padding: 3px; 
	font-size: 10px;
	color: #aaa;
}
.loginRight { width: 90px; float: left; padding: 3px; }
.loginClear { clear: both; }
.loginInput { 
	border: #ddd 1px solid; 
	background-color: #f7f7f7; 
	color: #2a5088;
	width: 85px; 
}
.loginInput:focus { background-color: #f0f0f0; border: #aaa 1px solid; }
.loginSubmit {
	border-width: 0px; 
	padding-top: 3px;
}
.loginAlign { 
	text-align: right; 
	padding: 5px 0px 5px 0px; 
}
.loginAlign input,
.loginAlign img {
	vertical-align: middle;
}
.loggedTag { 
	text-align: center;
	color: #999;
}