/* need a geek_latest include first! */
.geekNotiSubject { font-size: 11px; font-family: Dotum, sans-serif; padding: 5px; margin: 5px; border-bottom: #f3f3f3 1px solid; }
.geekNotiSubject:hover { background-color: #fafafa; }
.geekNotiParentBox { border-radius: 10px; border: #eee 2px solid; background-color: #fff; text-align: left; overflow: hidden; color: #888; }
.geekNotiParentBox a { text-decoration: none; color: #666; }
.geekNotiParentBox a:hover { color: #68d054; }